.register-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.register-form {
  background: linear-gradient(135deg, #013c4c 0%, #017a8c 100%);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.register-form h2 {
  margin-bottom: 20px;
  color: white;
}

.input-container {
  margin-bottom: 15px;
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.input-container input::placeholder {
  color: #ffffff;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.register-btn {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.register-btn:disabled {
  background-color: #999;
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link span {
  color: #ffffff;
}

.login-btn {
  background: none;
  border: none;
  color: #00ff2f;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.login-btn:hover {
  color: #0056b3;
}
